In [194]:
from selenium import webdriver
import pandas as pd
import time

In [3]:
driver=webdriver.Chrome('/Users/gunwook/Desktop/git_folder/데이터사이언스입문/chromedriver')

In [163]:
driver.get('https://www.melon.com/chart/search/index.htm')

In [82]:
chart_1 = driver.find_elements_by_css_selector('#lst50')

In [93]:
singer = []
sing = []
like = []
album = []

In [94]:
# 1위에서 50위까지
for i in range(0,50):
    a = chart_1[i].find_elements_by_css_selector('#lst50 > td:nth-child(4) > div > div > div:nth-child(3) > div.ellipsis.rank02 > a')[0].text
    b = chart_1[i].find_elements_by_css_selector('#lst50 > td:nth-child(4) > div > div > div.ellipsis.rank01 > span > strong > a')[0].text
    c = int(chart_1[i].find_elements_by_css_selector('#lst50 > td:nth-child(5) > div > button > span.cnt')[0].text.replace(',',''))
    d = chart_1[i].find_elements_by_css_selector('#lst50 > td:nth-child(4) > div > div > div:nth-child(3) > div.ellipsis.rank03 > a')[0].text
    singer.append(a)
    sing.append(b)
    like.append(c)
    album.append(d)

In [96]:
# chart_2로 가기
driver.find_elements_by_css_selector('#frm > div.paginate.chart_page > span > a')[0].click()

In [97]:
chart_2 = driver.find_elements_by_css_selector('#lst100')

In [100]:
# 51위부터 100위까지
for i in range(0,50):
    a = chart_2[i].find_elements_by_css_selector('#lst100 > td:nth-child(4) > div > div > div:nth-child(3) > div.ellipsis.rank02 > a')[0].text
    b = chart_2[i].find_elements_by_css_selector('#lst100 > td:nth-child(4) > div > div > div.ellipsis.rank01 > span > strong > a')[0].text
    c = int(chart_2[i].find_elements_by_css_selector('#lst100 > td:nth-child(5) > div > button > span.cnt')[0].text.replace(',',''))
    d = chart_2[i].find_elements_by_css_selector('#lst100 > td:nth-child(4) > div > div > div:nth-child(3) > div.ellipsis.rank03 > a')[0].text
    singer.append(a)
    sing.append(b)
    like.append(c)
    album.append(d)

In [112]:
df = driver.find_elements_by_css_selector('#d_chart_search > div > div > div.box_chic.nth1.view.on > div.list_value')

In [117]:
df[0].text

'2020년대\n2010년대\n2000년대\n1990년대\n1980년대'

In [141]:
df[0].find_elements_by_css_selector('ul > li > span > label')[1].click()

In [143]:
driver.find_elements_by_css_selector('#d_chart_search > div > div > div.box_chic.nth2.view > div.list_value > ul > li > span > label')[0].click()

In [146]:
driver.find_element_by_css_selector('#d_chart_search > div > div > div.box_chic.nth3.view > div.list_value > ul > li > span > label').text

'01월'

In [152]:
d = driver.find_element_by_css_selector('#d_chart_search > div > div > div.box_chic.nth3.view.on > div.list_value')

In [159]:
d.find_elements_by_css_selector('ul > li > span > label')[4].click()

In [175]:
elem = driver.find_element_by_id('top_search')

In [178]:
elem.clear()

In [179]:
elem.send_keys('백지영')
driver.find_elements_by_css_selector('#header_wrap > div.wrap_search_field > fieldset > button.btn_icon.search_m > span')[0].click()

In [181]:
driver.find_elements_by_css_selector('#conts > div.section_atist > div > div.atist_dtl_info > dl > dd:nth-child(4)')[0].text

'여성, 솔로'

In [182]:
type_singer = []

In [183]:
import time

In [184]:
time.sleep(1)

In [186]:
for i in singer:
    elem = driver.find_element_by_id('top_search')
    elem.clear()
    elem.send_keys(i)
    driver.find_elements_by_css_selector('#header_wrap > div.wrap_search_field > fieldset > button.btn_icon.search_m > span')[0].click()
    a = driver.find_elements_by_css_selector('#conts > div.section_atist > div > div.atist_dtl_info > dl > dd:nth-child(4)')[0].text
    type_singer.append(a)
    time.sleep(1)

In [187]:
type_singer

['남성, 솔로',
 '여성, 그룹',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 그룹',
 '여성, 솔로',
 '혼성, 그룹',
 '여성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 그룹',
 '여성, 그룹',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 그룹',
 '여성, 그룹',
 '남성, 솔로',
 '남성, 그룹',
 '남성, 솔로',
 '여성, 그룹',
 '남성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '여성, 그룹',
 '남성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 솔로',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 그룹',
 '남성, 그룹',
 '여성, 솔로',
 '여성, 솔로',
 '남성, 그룹',
 '남성, 그룹',
 '남성, 솔로',
 '남성, 솔로',
 '남성, 그룹',
 '여성, 솔로',
 '남성, 솔로',
 '남성, 그룹']

In [191]:
sex = []
group_solo = []
for i in type_singer:
    a = i.split(',')
    sex.append(a[0])
    group_solo.append(a[1])

In [193]:
group_solo

[' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹',
 ' 솔로',
 ' 솔로',
 ' 그룹']

In [205]:
data_frame = pd.DataFrame(singer)

In [206]:
data_frame['sing'] = sing
data_frame['album'] = album
data_frame['sex'] = sex
data_frame['group_solo'] = group_solo
data_frame['album'] = album

                    0
0        창모 (CHANGMO)
1   Red Velvet (레드벨벳)
2                  염따
3                 아이유
4                  노을
..                ...
95                한동근
96                EXO
97        헤이즈 (Heize)
98                장범준
99                EXO

[100 rows x 1 columns]